@use 'variables' as *
@use 'flexyfont' as *
@use 'fontface' as *
// ------------------------
// Buttons
// ------------------------
.btn,[class*="btn-"],
button,.back
    display: flex
    align-items: center
    justify-content: center
    white-space: nowrap
    height: 45px
    padding-inline: 1rem
    font-weight: 600
    border-radius: 4px
    transition: all 0.4s ease
    
    &.max-width
        max-width: max-content

    &:focus-visible,
    &:focus:not(:focus-visible)
        outline: none

.btn-c-accent
    color: $c-white
    background-color: #317378

    &:hover,
    &:focus-visible
        background-color: #234042

.btn-c-white
    height: 50px
    color: $c-white
    border: 2px solid $c-white

    &:hover,
    &:focus-visible
        color: $c-primary
        background-color: $c-white

    .i-caret-right
        width: auto
        height: 12px
        margin-left: .5rem
        

.btn-send
    width: 100%
    color: #234042
    background-color: #fff
    border: 1px solid #317378