@use 'variables' as *
@use 'mixinsize' as *

.pdblock4
    padding-block: 4rem
    
    h2,
    h3,
    summary
        color: #234042

.bk-1-sect
    background-color: #F3FAFB


.c-pacific
    color: #276A6F 

ul.type-check

    li::before
        content: ""
        @include size(13px)
        min-width: 13px
        margin-right: .5rem
        background-image: url('/assets/images/icons/check.svg')
        background-repeat: no-repeat
        background-size: auto
        background-position: center center

    strong
        color: #234042
            
.max-950
    max-width: 950px

.shading
    border-bottom: 1px solid $border
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5)
    z-index: 2

    @media (min-width: 1401px)
        position: sticky
        top: 66px



