@use 'variables' as *

    
// ------------------------------------------------
// FLEXBOX
// ------------------------------------------------
.fx
    display: flex
    display: -ms-flexbox
    display: -webkit-box
    display: -webkit-flex

// .block
//     display: block

// .i-fx
//     display: inline-flex

// .inline
//     display: inline

.f-w
    flex-wrap: wrap

.ai-c
    align-items: center
    -webkit-align-items: center

.ai-b
    align-items: baseline

.jc-c
    justify-content: center
    -webkit-justify-content: center
    -ms-flex-pack: center

.jc-sb
    justify-content: space-between
    -webkit-justify-content: space-between
    -ms-flex-pack: space-between

// .jc-sa
//     -webkit-justify-content: space-around
//     justify-content: space-around
//     -ms-flex-pack: space-around

// .jc-fe
//     justify-content: flex-end
//     -webkit-justify-content: flex-end
//     -ms-flex-pack: flex-end

.jc-fs
    justify-content: flex-start
    -webkit-justify-content: flex-start
    -ms-flex-pack: flex-start

.fd-c
    flex-direction: column

.rel
    position: relative

.abs
    position: absolute

// .fix
//     position: fixed
    
.order
    order: -1

.d-none
    display: none

.swipe
    display: flex
    overflow-y: hidden
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    -ms-overflow-style: -ms-autohiding-scrollbar
    scroll-snap-type: x mandatory
    scroll-behavior: smooth
    // width: 100%
    // white-space: nowrap
    &::-webkit-scrollbar
        display: none