// ------------------------------------------------
// Spacing (REVISADO 👌🏾 + ✅)
// ------------------------------------------------

// Margin Top
// .mtauto
//     margin-top: auto

.minlineauto
    margin-inline: auto
    
.mt4
    margin-top: .25rem

.mt8
    margin-top: .5rem

.mt10
    margin-top: .625rem

.mt12
    margin-top: 12px
    
.mt16
    margin-top: 1rem

.mt20
    margin-top: 1.25rem

.mt24
    margin-top: 1.5rem

// .mt28
//     margin-top: 1.75rem

.mt30
    margin-top: 1.875rem

// .mt30-60
//     margin-top: 1.875rem
//     @media (min-width: 1101px)
//         margin-top: 3.75rem

// .mt30-105
//     margin-top: 1.875rem
//     @media (min-width: 1101px)
//         margin-top: 6.563rem

.mt32
    margin-top: 2rem

.mt40
    margin-top: 2.5rem

// .mt44
//     margin-top: 2.75rem
    
.mt48
    margin-top: 3rem

.mt60
    margin-top: 3.75rem

// .mt80
//     margin-top: 80px

.mt89
    margin-top: 89px

// .mt128
//     margin-top: 128px

// Margin Left
// .mlauto
//     margin-left: auto

// .mt-sections
//     @media (max-width: 899px)
//         margin-top: 5rem
//     @media (min-width: 900px)
//         margin-top: 7rem


// Paddings
.pdt8
    padding-top: 8px
    
// .pdt30-60
//     padding-top: 1.875rem
//     @media (min-width: 1101px)
//         padding-top: 3.75rem